*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner-1{
    background-color: #BE63A6;
    height: 3vh;
    text-align: center;
}
.banner-1 p {
    color: #fff;
}
.tamaño-a{
    height: 45px;
    width: 200px;
    margin-right: 40px;
}
.subheader{
    display: flex;
    justify-content:center;
    align-items:center ;
    text-align: center;
    color: #000;
    background-color: #FFFFFF;
    height: 9vh;
}
.navbar1{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.navbar1-ul{
    display: flex;
    justify-content:center ;
    align-items: center;
    list-style-type: none;
}
ul{
    margin: 0;
}
.navbar1-ul li {
    margin-right: 1rem;
    padding: 0.3rem;

}
.navbar1-ul li a{
    text-decoration: none;
    color: #000;
    text-align: center;
}
.enlace-cuenta{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 1rem;
}
.boton-registro{
    border-radius: 10px;
    padding: 7px;
    width:170px ;
    background-color: #39609B;
    text-transform: uppercase;
    color: #fff;
    border: none;
}
.background-color{
    background-color: #F6F6F6;
    height: 100vh;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    margin-right: 17%;
    background-color: #FFFFFF;
}
.division{
    height: 5vh;
    background:linear-gradient(to right,#92A2C7,#D2CCD9 ) ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.division ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.division ul li {
    padding: 0px 15px;

}
.division ul li a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.presentacion-servicios{
    display: flex;
    justify-content: center;
    align-items: center;

}    
.servicio{
    padding: 1rem;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.servicio-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
}
.servicio-texto span{
    font-size: 12px;
}
.servicio-texto a{
    margin-top: 0;
    color: #59a3d7;
    text-decoration: none;
    font-size: 12px;
}
.grid-section2{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2rem;
}
.grid_img{
    display: flex;
    justify-content: center;
}
.grid_img-1{
    margin: 3rem;
    
}
.grid_texto{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid_texto h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.grid_texto span{
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.grid_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 15%;
    margin-right: 15%;
    grid-template-rows: 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
    column-gap: 2rem;
}
.cards{
    height: 380px;
    width: 280px;
    background: linear-gradient(90deg, #ADBAD5, #DBE2EC);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}
.img-card{
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
}
.cards h4{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.cards p{
    margin-top: 1rem;
}
.background-color1{
    margin-top: 2rem;
    background-color:#BABDDC ;
    height: 60vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.categorias_flex{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.cards-categorias{
    height: 260px;
    width: 260px;;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.contenedor-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-categorias2{
    margin-right: 3rem;
    margin-top: 2rem;

    border: 0.5px solid #D1D2D2 ;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cards-categorias-img{
    height: 210px;
    width: 210px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.categorias_h4{
    color: #ffff;
    font-size: 2rem;
    
}
.img_presentacion{
    height: 100%;
    width: 100%;
}
.cards-categorias-h6{
    margin-top: 2rem;
    color: #ffff;
    font-weight: 600;
}

.background-color2{
    background-color: #F1EDEF;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-color2 p{
    font-size: 2rem;
    margin-bottom: 0;
}
.contendor-ps{
    margin-left: 7%;
}
.contendor-texto{
    margin-top: 1.5rem;
    padding: 0 20px ;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: left   ;
}
.contendor-texto h6{
    font-weight:bold ;
}
.button-contenedor{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-contenedor button {
    background-color: #39609B;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffff;
    width: 128px;
    font-size: 14px;
    padding: 6px;
    border: none;
}

.fondo-recomendado{
    background-color:#FFFFFF ;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fondo-recomendado h5{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.fondo-recomendado button{
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ffff;
    background-color: #39609B;
    padding: 7px;
    border-radius: 10px;
    width: 350px;
    border: none;
}
.contenedor-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    padding: 1rem;
}
.fondo-garantia{
    background-color:#BBBEDD ;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-garantia{
    margin-left: 10rem;
}
.texto-garantia h4{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.fondo-compras{
    height: 60vh;
    background: url(https://aerobox.com.ar/wp-content/uploads/2022/08/bg-importar.jpg) no-repeat left top/cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;
    color: #ffff;
}
.fondo-compras h5{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 3rem;
}
.fondo-compras h4{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.fondo-compras span{
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.button-compras{
    padding: 0.5rem;
}
.button-compras button{
    border-radius: 10px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    padding: 7px;
    border: none;
    margin-right: 1rem;
    width: 265px;
}
.button-compras .button1{
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 7px;
    border: none;
    margin-right: 1rem;
    width: 265px;
    background-color: transparent;
    color: #fff;
}